@import url('style.css');

#opcoesconfig {
    height: 3vh;
}

#opcoes {
    width: 6vw;
    background-color: black;
    color: white;
}

#inimigos {
    height: 57vh;
    width: 6vw;
    outline: 3px solid white;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    overflow-y: scroll;
}

#detalhes-inimigos {
    height: 60vh;
    width: 70vw;
    outline: 3px solid white;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.enemy-icon {
    all: unset;
    display: block;
    cursor: pointer;
    width: 4vw;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1024px) {
    #inimigos {
        width: 30%;
        height: 50vh;
    }

    #detalhes-inimigos {
        width: 70%;
        height: 50vh;
    }

    .enemy-icon {
        width: 50px;
    }
}

@media (max-width: 600px) {
    .shell {
        flex-direction: column;
    }

    #inimigos {
        width: 100%;
        height: auto;
        max-height: 30vh;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .enemy-icon {
        width: 60px;
        min-width: 60px;
    }

    #detalhes-inimigos {
        width: 100%;
        height: auto;
        overflow-y: visible;
    }
}