/*--------------------------- Fontes usadas ---------------------------*/

@font-face {
    font-family: Ultrakill;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

/*---------------------------------------------------------------------*/

body {
    background-color: rgb(8, 8, 8);
    padding: 0;
    margin: 0;
    font-family: Ultrakill;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
}

header {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(imagens/ultrakillgameplay.gif);
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.5);
    transform: scale(1.1);
    z-index: 0;
}

header h1 {
    position: relative;
    font-size: 10vh;
    color: red;
    z-index: 1;
}

#botões {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
}

.card-link {
    text-decoration: none;
    display: block;
    color: inherit;
}

.card1 {
    height: 50px;
    width: 180px;
    border-radius: 10px;
    outline: 3px solid white;
    outline-offset: 7px;
}

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    outline: 3px solid white;
}



footer {
    margin-top: 10vh;
    height: auto;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

footer p {
    filter: opacity(0.5);
}

.content-banner {
    height: 50vh;
    outline: 3px solid white;
    outline-offset: 5px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 80px;
}

.banner-content {
    height: 100%;
    width: 100%;
    outline: 3px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    align-items: flex-start;
    gap:50px;
    overflow-x: scroll;
    scrollbar-width: none;
}

#title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#content-paragraph {
    flex: 1;
}

.banner-content img {
    margin-left: auto;
}

.shell {
    display: inline-block;
    outline: 3px solid white;
    outline-offset: 7px;
}

.banner-img {
    max-height: 300px;
    height: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 600px) {

    header {
        height: 25vh;
    }

    header h1 {
        font-size: 6vh;
        text-align: center;
    }

    #botões {
        gap: 25px;
        margin: 5vh 0;
    }

    .card1,
    .card2 {
        width: 160px;
        height: 45px;
    }

    .content-banner {
        height: auto;
        width: 90%;
    }

    .banner-content {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        overflow-x: hidden;
    }

    #title {
        font-size: 22px;
    }

    #content-paragraph {
        width: 100%;
        text-align: left;
    }

    .banner-content img {
        margin: 0;
        max-width: 80%;
        height: auto;
    }

    footer {
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 1024px) {

    header h1 {
        font-size: 8vh;
    }

    .content-banner {
        height: auto;
        width: 90%;
    }

    .banner-content {
        padding-left: 40px;
        padding-right: 40px;
        gap: 40px;
    }

    .banner-content img {
        max-width: 300px;
        height: auto;
    }

    footer {
        padding: 40px;
        gap: 30px;
    }
}
