@import url('style.css');

#o-que-é-stylemeter {
    width: 70%;
}

#o-que-é-stylemeter-image {
    float: right;
    height: 50vh;
}

#o-que-é-stylemeter-content {
    padding: 30px;
}

#style-bonuses-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#style-bonuses {
    width: 98%;
    outline: 3px solid white;
    margin-top: 2vh;
    height: 55vh;
    margin-bottom: 2vh;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#barra-de-pesquisa {
    width: 90%;
    height: 5vh;
    font-family: Ultrakill;
    margin-top: 2vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    outline: 3px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

#barra-de-pesquisa::placeholder {
    opacity: 0.5;
}

.stylebonus {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "name info";
    margin-bottom: 1vh;
}

.name {
    grid-area: name;
    border: 3px solid white;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    grid-area: info;
    min-width: 0;
    border: 3px solid white;
    padding: 5px;
    overflow-wrap: break-word;
}

#ranking {
    display: grid;
    width: 50%;
    height: auto;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "rankinginfo rankingtable";
    gap:40px;
}

#ranking-info {
    grid-area: rankinginfo;
}

#rankingtable {
    grid-area: rankingtable;
}



@media (max-width: 600px) {

    header {
        height: 25vh;
    }

    header h1 {
        font-size: 6vh;
        text-align: center;
    }

    #botões {
        gap: 25px;
        margin: 5vh 0;
    }

    #ranking {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "rankinginfo"
            "rankingtable";
        gap: 20px;
    }

    #o-que-é-stylemeter {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #o-que-é-stylemeter-image {
        float: none;
        height: auto;
        max-width: 80%;
        margin-bottom: 20px;
    }

    #o-que-é-stylemeter-content {
        padding: 20px;
        text-align: left;
    }

    #style-bonuses-box {
        width: 90%;
        padding: 15px;
        box-sizing: border-box;
    }

    #barra-de-pesquisa {
        width: 100%;
        font-size: 16px;
        height: 45px;
    }

    #style-bonuses {
        height: auto;
        max-height: none;
        overflow-y: scroll;
    }

    .name {
        border-right: 3px solid white;
        border-bottom: none;
    }

    footer {
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 1024px) {

    header h1 {
        font-size: 8vh;
    }

    #ranking {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "rankinginfo"
            "rankingtable";
    }

    #o-que-é-stylemeter {
        width: 85%;
    }

    #o-que-é-stylemeter-image {
        height: 35vh;
    }

    #style-bonuses {
        height: 45vh;
    }

    .stylebonus {
        grid-template-columns: 3fr 7fr;
    }

    footer {
        padding: 40px;
        gap: 30px;
    }
}
