/*--------------------------- Fontes usadas ---------------------------*/

@font-face {
    font-family: Ultrakill;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

/*---------------------------------------------------------------------*/

body {
    background-color: rgb(8, 8, 8);
    padding: 0;
    margin: 0;
    font-family: Ultrakill;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
}

header {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(imagens/ultrakillgameplay.gif);
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.5);
    transform: scale(1.1);
    z-index: 0;
}

header h1 {
    position: relative;
    font-size: 10vh;
    color: red;
    z-index: 1;
}

#botões {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
}

.card-link {
    text-decoration: none;
    display: block;
    color: inherit;
}

.card1 {
    height: 50px;
    width: 180px;
    border-radius: 10px;
    outline: 3px solid white;
    outline-offset: 7px;
}

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    outline: 3px solid white;
}

/* Facilita o efeito de vazio nas bordas criando uma outline */
.shell {
    outline: 3px solid white;
    outline-offset: 7px;
}

.rounding-border {
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* remove a caixa */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#o-que-é-stylemeter {
    width: 70%;
}

#o-que-é-stylemeter-image {
    float: right;
    height: 50vh;
}

#o-que-é-stylemeter-content {
    padding: 30px;
}

#style-bonuses-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#style-bonuses {
    width: 98%;
    outline: 3px solid white;
    margin-top: 2vh;
    height: 55vh;
    margin-bottom: 2vh;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#barra-de-pesquisa {
    width: 90%;
    height: 5vh;
    font-family: Ultrakill;
    margin-top: 2vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    outline: 3px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

#barra-de-pesquisa::placeholder {
    opacity: 0.5;
}

.stylebonus {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "name info";
    margin-bottom: 1vh;
}

.name {
    grid-area: name;
    border: 3px solid white;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    grid-area: info;
    min-width: 0;
    border: 3px solid white;
    padding: 5px;
    overflow-wrap: break-word;
}

#ranking {
    display: grid;
    width: 50%;
    height: auto;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "rankinginfo rankingtable";
    gap:40px;
}

#ranking-info {
    grid-area: rankinginfo;
}

#rankingtable {
    grid-area: rankingtable;
}





footer {
    margin-top: 10vh;
    height: auto;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

footer p {
    filter: opacity(0.5);
}
